/* Body style */
* {margin: 0;
padding: 0;
box-sizing: border-box;}
body {background: #fff;
font-family: Arial,sans-serif;
font-size: 100%;
width: 100%;
height: 100%;
text-align: center;}

/* Text */
a {outline: none;
text-decoration: none;
cursor: pointer;}

/* Image */
img {border: 3px solid #ccc;
border-radius: 10px;
margin-top: 20px;
margin: 20px}

/* Video */
video {width: 350px;
height: 200px;
border: 2px solid #ccc;
border-radius: 10px;
margin: 10px;
outline: none}

/* Header & footer */
header {padding: 15px;
background: inherit;
color: #fff;
width: 100%;
text-align: center;}
footer {overflow: hidden;
position: relative;
padding-top: 40px;
width: 100%;
margin-top: 100px}

/* Top bar */
#navbar {overflow: hidden;
background-color: #232f34;
box-shadow: 0px 4px 13px 0px rgba(0,0,0,1.15);}

/* Video box */
.vb {background-color: #232f34;
padding-top: 15px;
padding-bottom: 15px;
box-shadow: 0px 6px 15px 0px rgba(0,0,0,1.8);}

/* Drop menu */
.collapsible {color: #fff;
background-color: #232f34;
font-size: 28px;
padding: 10px 5px;
border: none;
float: right;
text-align: center;
-webkit-tap-highlight-color: transparent;
outline: none;
transition: linear 0.4s;} 
.content {color: #fff;
display: none;
background-color: #232f34;
width: 100%;
margin-top: 55px;
text-align: center;}

/* Dark mode switch */
/* Light theme */
:root {--main-color: #ECEFF1; /* Background color */
--icon-background: orange}  /* Icon switch color */
body {transition:  background 0.3s;
background: var(--main-color);
var(--header-color)}

/* Dark theme */
body.dark {transition: 0.3s;
--main-color: #37474F; /* Background color */
border-radius: 10px;
--icon-background: #292821; /* Icon switch color */
color: #fff}
.dark {opacity: 1}

/* Icon switch color changes */
.mode-switch {height: 0px;
background-color: transparent;
border-radius: 10px;
position: relative;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
margin: 5px 26px 0px 0px;
padding: 8px 4px 0px 0px;
float: right}
.mode-switch::before {content: '\f185';
position: absolute;
left: -1px;
right: -1px;
transform: translateY(-50%);
font-family: "Font Awesome 5 Free";
width: 30px;
height: 30px;
line-height: 33.5px;
background: var(--icon-background);
border-radius: 50%;
justify-content: center;
align-items: center;
cursor: pointer;
color: #fff;
transition: 0.3s}
.mode-switch.active::before {content: '\f186';
color: lightgrey;
font-family: "Font Awesome 5 Free";
left: 100%;
transform: translate(-50%,-50%) rotate(360deg)}

/* Social icon */
.wrapper .icon {position:relative;
display: inline-block;
font-size: 20px;
align-items: center;
transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
color: grey;
text-decoration: none;
outline: none;
-webkit-tap-highlight-color: transparent}
.wrapper .tooltip {position:relative;
opacity: 0;
pointer-events: none;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55)}
.wrapper .tooltip::before {position:absolute;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)}
.wrapper .icon:hover .tooltip {opacity: 1;
visibility: visible;
pointer-events: auto}
/* Icon hover color */
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before 
{color: #2196F3;}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before 
{color: #03A9F4;}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before 
{color: #E91E63;}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before 
{color: #607D8B;}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before 
{color: #F44336;}
