/* https://github.com/ZazerConer/Templates-For-AppCreator24.
/* Video Player with Playlist (V1).

/* Body style */
*{margin: 0;
padding: 0;
box-sizing: border-box;}
body {background-image: linear-gradient(#3949AB,#303F9F,#283593,#1A237E);
width: 100%;
height: 100%;
font-family: Verdana,Arial,sans-serif;
font-size: 100%;
text-align: center;}

/*----------------------------*/

/* Video player */
.vPlay {position: fixed;
top: 50%;
left: 31%;
transform: translate(-50%, -50%);
width: 60%;}
#myPlay {width: 100%;
height: auto;
outline: none;
border-radius: 10px;
box-shadow: 7px 10px 10px rgba(0,0,0,0.3),
inset -30px -30px 50px rgba(255, 255, 255, 0.2), inset 30px 30px 50px rgba(0,0,0,0.5);}

/*----------------------------*/

/* Playlist */
#vWrap {width: 40%;
padding: 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
display: inline-block;
z-index: 0;
float: right;}
#vList {width: 100%;
justify-items: center;
text-align: center;
overflow: scroll;}
.vRow {display: block;
color: #fff;
font-size: 13px;
border: 1px solid #fff;
border-radius: 5px;
margin: 10px;
padding: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
background-image: linear-gradient(#1976d2,#1565c0,#0d47a1);}
.vRow.now {color: #0d47a1;
border: 1px solid #1565c0;
background-image: linear-gradient(#eeeeee,#e0e0e0,#bdbdbd,#9e9e9e);}
